* {
    margin: 0;
    padding: 0;
}

.title ,.hero ,.main ,.style ,.page ,.class ,.script {
    background-color: wheat;
}
.title {
    color: orangered;
}

h2 {
    color: orangered;
}

.style {
    color: black;
}

.page {
    color: black;
}
.label {
    color: black;
}
nav{
    color: black;
    background-color: whitesmoke;
    width: 80px;
}
.img {
    background-color: wheat;
}
* {
background-color:wheat ;
}
